@page
@model PeatHotel.Pages.Hospedagems.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospedagem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospedagem.hospedagemTipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospedagem.hospedagemTipo.hospedagemTipoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospedagem.peat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospedagem.peat.peatId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospedagem.cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospedagem.cliente.clienteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospedagem.servico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospedagem.servico.servicoId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hospedagem.hospedagemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
