@page
@model PeatHotel.Pages.Peats.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Peat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peat.peatName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peat.peatName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peat.peatTipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peat.peatTipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peat.peatRaca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peat.peatRaca)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Peat.peatId">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
