@page
@model PeatHotel.Pages.HistoricoPeats.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Historico de saude Peat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoPeat.histSaude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricoPeat.histSaude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoPeat.histObs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoricoPeat.histObs)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HistoricoPeat.histPeatId">Edit</a> |
    <a asp-page="./Index">Voltar</a>
</div>
