@page
@model PeatHotel.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Novo</h1>

<p>
    <a asp-page="Create">Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].clienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].clienteEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].clienteTel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteTel)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.clienteId">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.clienteId">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.clienteId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
